<template>
  <button @click="onConnect">Eat me</button>
  <button @click="addToCart">Add me1</button>
  <button @click="addToCart2">Add me2</button>
  <button @click="addToCart3">Add me3</button>
  <button @click="removeFromCart">Remove me</button>
</template>

<script>
  import {mapGetters} from "vuex";

    export default {
        computed : {
          ...mapGetters([
            'products',
            'cart'
          ]),
        },
        methods : {
            onConnect() {
                this.$store.commit('user');
            },
            addToCart() {
                this.$store.commit('cartadd', 1);
            },
            addToCart2() {
                this.$store.commit('cartadd', 2);
            },
            addToCart3() {
                this.$store.commit('cartadd', 3);
            },
            removeFromCart() {
                this.$store.commit('cartremove', 3);
            }
        },
        watch : {
          products () {
            console.log('products change',this.products)
          },
          user () {
            console.log('user change',this.user)
          },
          cart () {
            console.log('cart change',this.cart)
          },
        },
        mounted() {
          console.log('products',this.products.length);
          console.log('user',this.user);
          console.log('cart',this.cart);
          this.$store.dispatch('loadProducts');
        },
    }

</script>
<style scoped>
a {
  color: #42b983;
}
</style>

